@model IEnumerable<ClothStore.Models.HoaDon>

@{
    ViewBag.Title = "Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tracking" style="margin: 150px 200px">
    <h1 style="text-align: center; margin-bottom: 30px; font-size: 30px">Đơn hàng của tôi</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Mã hóa đơn
                </th>
                <th scope="col">
                    Ngày đặt hàng
                </th>
                <th scope="col">
                    Tổng tiền
                </th>
                <th scope="col">
                    Thanh toán
                </th>
                <th scope="col">
                    Giao hàng
                </th>
                <th scope="col">
                    Địa chỉ
                </th>
                <th scope="col">
                    Trạng thái
                </th>
                <th scope="col">
                    Chi tiết
                </th>
            </tr>
        </thead>

        @foreach (var item in ViewBag.Order)
        {
            <tr>
                <td style="vertical-align: middle">
                    @item.MaHoaDon
                </td>
                <td style="vertical-align: middle">
                    @item.NgayLap
                </td>
                <td style="vertical-align: middle">
                    @item.TongTien
                </td>
                @if (item.TrangThai == true)
                {

                    if (item.ThanhToan == true)
                    {
                        <td>Đã thanh toán</td>
                    }
                    else
                    {
                        <td>
                            Chưa thanh toán
                        </td>
                        ;
                    }
                }
                else
                {
                    <td>Đã hủy</td>
                }
                @if (item.TrangThai == true)
                {
                    if (item.ThanhToan == true)
                    {
                        if (item.GiaoHang == true)
                        {
                            <td>Đã giao hàng</td>
                        }
                        else
                        {
                            <td>
                                Đang giao hàng
                            </td>
                            ;
                        }
                    }
                    else
                    {
                        <td>Chưa giao hàng</td>
                    }
                }
                else
                {
                    <td>Đã hủy</td>
                }
                <td style="vertical-align: middle">
                    @item.DiaChiGiao
                </td>
                @if (item.TrangThai == true)
                {
                    if (item.ThanhToan == false && item.GiaoHang == false)
                    {
                        <td>
                            Đã xác nhận |
                            @Html.ActionLink("Hủy đơn", "ChangeStatus", new { MaHoaDon = item.MaHoaDon })
                        </td>
                    }
                    else
                    {
                        if (item.GiaoHang == true)
                        {
                            <td>Hoàn thành</td>
                        }
                        else
                        {
                            <td>Đã xác nhận</td>
                        }
                    }
                }
                else
                {
                    <td>Đã hủy</td>
                }
                <td style="vertical-align: middle">
                    @Html.ActionLink("Xem", "OrderedDetail", new { MaHoaDon = item.MaHoaDon })
                </td>
            </tr>
        }

    </table>
</div>
