@model ClothStore.Models.CT_HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Chi tiết đơn hàng</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Mã đơn hàng
            </th>
            <th scope="col">
                Tên mặt hàng
            </th>
            <th scope="col">
                Mã loại
            </th>
            <th scope="col">
                Số lượng
            </th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
    @using (Html.BeginForm("DeleteCTHD", "Ordered", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        foreach (var item in ViewBag.CTHD)
        {
            <tr>
                <td style="vertical-align: middle">
                    @item.MaHoaDon
                </td>
                <td style="vertical-align: middle">
                    @item.MatHang.TenMatHang
                </td>
                <td style="vertical-align: middle">
                    @item.MatHang.LoaiHang.MaLoai
                </td>
                <td style="vertical-align: middle">
                    @item.SoLuong
                </td>
            </tr>
        }
    }
    </tbody>
</table>
@Html.ActionLink("Quay lại danh sách đơn hàng", "List")