@model ClothStore.Models.CT_HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    @foreach (var item in ViewBag.CTHD)
    {
    <div class="row">
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Mã đơn hàng</label>
            @Html.DisplayFor(model => model.HoaDon.MaHoaDon)
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Tên mặt hàng</label>
            @Html.DisplayFor(model => model.MatHang.TenMatHang)
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Mã loại</label>
            @Html.DisplayFor(model => model.MaLoai)
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Số lượng</label>
            @Html.DisplayFor(model => model.SoLuong)
        </div>
    </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Quay lại danh sách đơn hàng", "List")
</p>
