@model IEnumerable<ClothStore.Models.GioHang>

@{
    Layout = null;


}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/checkoutstyle.css" rel="stylesheet">
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">

            <h2>THANH TOÁN</h2>
        </div>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Giỏ hàng</span>
                    </h4>
                    <ul class="list-group mb-3" style="margin-top: 38px">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">@item.TenMatHang</h6>
                                    <small class="text-muted">@item.SoLuong</small>
                                </div>
                                <span class="text-muted">@item.DonGia</span>
                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Thành tiền</span>
                            <strong>@ViewBag.Tongtien</strong>
                        </li>
                    </ul>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" style="float: right">Xác nhận thanh toán</button>

                    <!--<form class="card p-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">-->
                    @*<div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>*@
                    <!--</div>
    </form>-->
                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3" style="color: #6c757d">Thông tin khách hàng</h4>
                    <div class="needs-validation" novalidate>
                        <div class="row">
                            @*                        <div class="col-md-6 mb-3">
                                    <label for="firstName">First name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Last name</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>*@

                            <div class="mb-3">
                                <label for="FullName">Tên</label>
                                <input type="text" class="form-control" id="FullName" placeholder="" value="@ViewBag.Name" required disabled>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="username">Username</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="username" placeholder="Username" required value="@ViewBag.TenKH" disabled>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com" value="@ViewBag.TenKH" disabled>
                        </div>

                        <div class="mb-3">
                            <label for="email">Số điện thoại</label>
                            <input type="email" class="form-control" id="email" placeholder="" value="@ViewBag.SoDT" disabled>
                        </div>

                        <div class="mb-3">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" placeholder="425 Điện Biên Phủ" value="@ViewBag.DiaChi" required disabled>
                        </div>
                    </div>
                </div>
            </div>
        }

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© Copyright 2023 - Luxe Fashion HUB</p>
        </footer>
    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorig></script>