@model ClothStore.Models.ForgotPasswordViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Quên mật khẩu</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/css/loginstyle.css" rel="stylesheet">
</head>
<body>
    <div class="login-box">
        <h2>Quên mật khẩu</h2>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="user-box">
        <input type="text" name="" required="" id="txtemail1">
        <label>Email</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtemail2" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
            <a href="#" onclick="document.querySelector('.btn-default').click(); return false;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Xác nhận
            </a>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Email Link" />
                </div>
            </div>
        }
        <a href="/Account/Login" class="gotosignup">Quay lại đăng nhập</a>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $('#txtemail1').on('input', function () {
        var value = $(this).val();

        $('#txtemail2').val(value);
    });
</script>
